<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--
    1. AngularJS在执行的时候.
       有一个步骤: 配置和运行.
       这个地方允许我们程序员对AngularJS做1些配置的.
       通过配置可以改变AngularJS的默认的模式.
       配置主要是针对服务的配置. 对内置的服务进行有限的修改的.


    2. 模块对象提供了一个方法叫做config
       2.1 功能: 是来对内置的服务进行配置的.
       2.2 参数: 是1个数组  
                 前面的元素写上要你要配置的服务对应的Provider
                 $log -- $logProvider
                 $filter -- $filterProvider
                 要配置1个服务,你应该配置这个服务对应的Provider
                 这个Provider提供了一些方法来对服务进行配置.

                 最后1个元素是1个回调函数.将Provider通过形参注入
                 在回调函数中就可以使用这个Provider来对这个服务进行配置.

                
   
    -->
</head>
<script src="./lib/angular.min.js"></script>
<body ng-app="hmApp">
    <div ng-controller="demoCtrl">
       
    </div>  
    <script>
        var app = angular.module("hmApp", []);

        app.config(["$logProvider",function($logProvider){
             $logProvider.debugEnabled(false);//让$log服务的debug方法失效.
        }]);

        app.controller("demoCtrl", ["$scope","$log",function ($scope,$log) {
            $log.debug("这是我的调试信息!");
            $log.error("error!");
        }]);
    </script>
</body>

</html>