<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--
    1. scope:作用域
       rootScope:根作用域.
   
    -->
</head>
<script src="./lib/angular.min.js"></script>
<body ng-app="hmApp">
    <div ng-controller="demoCtrl">
       {{name}} ---- {{age}}
    </div>  
    <script>
        var app = angular.module("hmApp", []);

        app.run(["$rootScope",function($rootScope){
            $rootScope.age = 19;
        }]);

        app.controller("demoCtrl", ["$scope","$rootScope",function ($scope,$rootScope) {
            $rootScope.name =  "jack";
        }]);
        
    </script>
</body>

</html>