<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--
    1. SPA - Single Page Application
       单页面应用程序
       整个网站只有一个页面.不同的功能通过这种Ajax无刷新异步的技术来实现切换.
       这样的网站我们就叫做SPA

       网站的绝大多数的功能都是在一个页面上实现的.通过ajax的无刷新技术来实现功能的切换.

    2. 实现单页面应用程序的原理.
       > 切换功能模块的按钮是一个一个的锚链接.
       > 这样就算地址栏的url发生了变化 浏览器也不会主动的刷新页面.
       > 通过监听锚链接的点击 发起ajax请求 来切换不同的功能模块.


    3. 实现我的云音乐,


    4. 单页应用程序的实现原理.
       > 功能切换的按钮是1一个锚链接.
       > 通过监听锚点值得变化来确定用户是否点击了按钮.
         window.onhashchange事件 这个事件是在锚点值发生变化的时候触发.
       > 再发起ajax请求.请求模块回来并显示.

    -->
</head>
<body>
    
</body>
</html>