<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--
    1. ng-switch 指令.
       作用: 和原生的switch差不多.
       判断1个变量/表达式的值.和多个值进行相等判断.相等的就会创建对应的元素.

    2. 
      
   
    -->
</head>
<script src="./lib/angular.min.js"></script>

<body ng-app="hmApp">
    <div ng-controller="demoCtrl">
        <ul ng-switch="lesson">
            <li ng-switch-when="html">html</li>
            <li ng-switch-when="css">css</li>
            <li ng-switch-when="js">js</li>
            <li ng-switch-default>未知</li>
        </ul>

    </div>
    <script>
        var app = angular.module("hmApp", []);
        app.controller("demoCtrl", ["$scope", function ($scope) {
            $scope.lesson = "java"
        }]);
    </script>
</body>

</html>