<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--
    1. 内置指令.
       自定义指令.
       内置过滤器
       自定义过滤器
       内置服务
       自定义服务


    2. 

    -->
    <script src="./lib/angular.min.js"></script>
</head>
<body ng-app="hmApp">
    
    <script>
        var app = angular.module("hmApp",[]);
        
        app.factory("heima",[function(){
            return {
                
            };
        }]);

    </script>
</body>
</html>