<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoMVC</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="./lib/angular.min.js"></script>
</head>

<body ng-app="todosApp">
    <section class="todoapp" ng-controller="todosCtrl">
        <header class="header">
            <h1>任务通</h1>
            <form ng-submit="add()">
                <input class="new-todo" placeholder="列出你要完成的事项" ng-model="taskName" autofocus>
            </form>
        </header>
        <section class="main">
            <input class="toggle-all" type="checkbox">
            <ul class="todo-list">
                <!-- <li class="completed">
					<div class="view">
						<input class="toggle" type="checkbox" checked>
						<label>和女票看场电影</label>
						<button class="destroy"></button>
					</div>
					<input class="edit" value="Create a TodoMVC template">
				</li> -->
                <li ng-repeat="item in list" ng-class="{completed:item.isFinish}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-click="toggle(item.id)">
                        <label>{{item.name}}</label>
                        <button class="destroy"></button>
                    </div>
                    <input class="edit" value="Rule the web">
                </li>
            </ul>
        </section>
        <footer class="footer">
            <span class="todo-count">还有<strong>{{left}}</strong>项未完成</span>
            <button class="clear-completed" ng-click="clear()">清除已完成</button>
        </footer>
    </section>


    <script>
        var app = angular.module("todosApp", []);
		/*	
		1. 要展示的数据,是一条一条的任务.
		   有多条任务. 数组.

		   var list = [];

		   每一个任务的类型: 是个对象.
			{id:1,name:"任务名称",isFinish:false}


		*/

        app.controller("todosCtrl", ["$scope", function ($scope) {
            $scope.list = [];
            $scope.id = 1;
            $scope.left = 0; //用来记录还有多少项未完成.
            $scope.add = function () {
                $scope.list.push({
                    id: $scope.id++,
                    name: $scope.taskName,
                    isFinish: false
                });
                $scope.taskName = "";
                $scope.getLeft();
            };

            $scope.toggle = function (id) {
                //将任务对象的isFinish属性改为true
                for (var index in $scope.list) {
                    if ($scope.list[index].id == id) {
                        $scope.list[index].isFinish = !($scope.list[index].isFinish);
                        break;
                    }
                }
                $scope.getLeft();

            };


            $scope.getLeft = function () {
                $scope.left = 0;
                for (var index in $scope.list) {
                    if ($scope.list[index].isFinish == false) {
                        $scope.left++;
                    }
                }
            };


            $scope.clear = function () {
                var newArr = [];
                for (var index in $scope.list) {
                    if ($scope.list[index].isFinish == false) {
                        newArr.push($scope.list[index]);
                    }
                }
                $scope.list = newArr;
            }





        }]);
    </script>
</body>

</html>